form{
    display:block;
    flex-direction: column;
}

label{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

textarea, input{
    width: 500px;
    padding: 5px;
    font-size: 16px;
}